*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;

}
#navbar{
    height: 11%;
    width: 100%;
    padding: 10px 30px;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
   
}
/* #leftlogo{
    width: 70px;
}
#centre{
    display: flex;
    gap: 50px;
    
}
#right{
    display: flex;
    gap: 20px;
} */
/* #Fakenavbar{
    height: 10%;
    width: 100%;
   
} */
#logo{
    width: 70px;
    margin-left: 14px;
    margin-right: 1%;
}
.nav_items{
    margin: 28px;
    font-family: 'Gill Sans';
    font-weight: bold;
    font-size: large;
    color: rgb(2, 2, 81);
    display: flex;
    
}
.nav_items:hover{
    color:rgb(118, 122, 243);
}
#contactDetails{
    text-align: center;
    margin-left: 10%;
    font-weight: lighter;
    color: rgb(86, 86, 125);
    font-size: 110%;
}
#contactDetails u:hover{
    color:rgb(118, 122, 243);
}

#contactDetails p{
    color:rgb(8, 9, 36);
}
.icon{
    margin-left: 8px;
    font-size: 120%;
    border-radius: 50%;
    padding: 10px;
}

.icon:hover{
    background-color: rgb(135, 199, 199);
    
}
#login{
    margin-left: 10px;
    font-size: 115%;
    border-radius: 45%;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 15px;
}
#login:hover{
    background-color: rgb(145, 203, 203);
}
#try{
    margin-left: 15px;
    background-color: rgb(9, 151, 9);
    padding:10px 22px;
    color: aliceblue;
    font-size: 120%;
    text-align: center;
    border-radius: 4px;
}


#try:hover{
    background-color: rgb(11, 11, 71);
}

#page1{
    height: 100%;
    width: 100%;
    background-color: brown;
}
#page2{
    height: 90%;
    width: 100%;
    background-color: aqua;

}
/* #page3{
    height: 100%;
    width: 100%;
    background-color: rgb(77, 17, 208);
} */


